<h1><span data-i18n="skills.my_skills">A little about me</span></h1>

<div>
# My name is Nguyen Hai Truong 

I can play basketball and the [guitar](https://www.youtube.com/watch?v=WUsfp92Sd2Y) :)

I have a passion for photography as well.

*(Check out my [CV](https://haitruonghust.files.wordpress.com/2019/07/nguyenhaitruong-linuxsystemengineer-cv1.pdf))*

# My background

Software Engineer with **`4+ years of experience`** in software development, specializes in **`Embedded Linux`, `C/C++`, `Go`** and **`Shell Scripts`**  
Having background on **`Computer Networking`, `OpenStack`, `Kubernetes`** and **`Docker`, `Container`**

# Contributing to Open-Source Community
**Founder** [VietKubers (Vietnam Kubernetes Community)](https://vietkubers.github.io/)
> VietKubers was founded on the basis of learning and sharing our knowledge together in a thriving environment. Founded by the former OpenStack Team at Fujitsu, we hope to bridge the gap of knowledge in the open-source community and lay a new foundation for Kubernetes users in Vietnam in the near future.  

**Founder / Community Leader** [GDG Cloud Hanoi](https://www.facebook.com/GDGCloudHanoi)  
> GDG Cloud Hanoi is a non-profit community of cloud developers who meet/share ideas on everything Google Cloud Platform related. GDG Cloud Hanoi is dedicated to building a strong community for GCP users in Hanoi, we runs meetup for developers interested in resources and technology from Google Developers.

![GDG](/static/img/gdg.JPG)

{:.image-caption}
*Vietnam team in GDG/WTM SEA Summit 2019 - Bangkok Thailand*

Head of organizers of [Google Cloud Next ’19 Extended Hanoi](https://www.meetup.com/Vietkubers-Vietnam-Kubernetes-Community/events/261417540/) - [Photos at the event](https://photos.app.goo.gl/HxS7q7nVDUjYnGtr9)


# Presentations
> [January 5th 2019] [VietKubers Meetup #1](https://www.meetup.com/Vietkubers-Vietnam-Kubernetes-Community/events/257150787/): 
Deep dive into Container Networking  

> [June 15th 2019] [Google Cloud Next ’19 Extended Hanoi](https://www.meetup.com/Vietkubers-Vietnam-Kubernetes-Community/events/261417540/): 
Kubernetes: Upgrading your cluster without downtime practice


# Why do I create this site?

This is where I will share my experience about GNU/Linux, Computer Networking and K8s knowledge To Whom It May Concern. 
</div>
