<h1><span data-i18n="skills.my_skills">A little about me</span></h1>

<div>

<h4>My name is Nguyen Hai Truong</h4>

<p>I can play basketball and the guitar.</p>  

<p>I have a passion for photography as well.</p>

<p>Check out my <a href="https://haitruonghust.files.wordpress.com/2019/07/nguyenhaitruong-linuxsystemengineer-cv1.pdf">CV</a></p>

<h4>My background</h4>

Software Engineer with 4+ years of experience in software development, specializes in Embedded Linux, C/C++, Go and Shell Scripts. Having background on Computer Networking, OpenStack, Kubernetes and Docker/Container as well.

<h4>Contributing to Open-Source Community</h4>

<h5>Founder / Community Lead of GDG Cloud Hanoi</h5>
<p>GDG Cloud Hanoi is a non-profit community of cloud developers who meet/share ideas on everything Google Cloud Platform related.</p>

<p>GDG Cloud Hanoi is dedicated to building a strong community for GCP users in Hanoi, we runs meetup for developers interested in resources and technology from Google Developers.</p>

<h5>Co-founder of VietKubers (Vietnam Kubernetes Community)</h5>
<p>VietKubers's technical blog: https://vietkubers.github.io/</p>
<p>Meetup: https://www.meetup.com/Vietkubers-Vietnam-Kubernetes-Community/</p>

<h5>Head of organizers of [Google Cloud Next ’19 Extended Hanoi]</h5>
<p>Photos at the event: https://photos.app.goo.gl/HxS7q7nVDUjYnGtr9</p>



<h4>Presentations</h4>

<table style="width:100%">
  <tr>
  </tr>
  <tr>
    <td><font color="#08c">January 5<sup>th</sup> 2019</font></td>
    <td><a href="https://www.meetup.com/Vietkubers-Vietnam-Kubernetes-Community/events/257150787/">VietKubers Meetup #1</a></td>
    <td>Deep dive into Container Networking</td>
  </tr>
  <tr>
    <td><font color="#08c">June 15<sup>th</sup> 2019</font></td>
    <td><a href="https://www.meetup.com/Vietkubers-Vietnam-Kubernetes-Community/events/261417540/">Google Cloud Next ’19 Extended Hanoi</td>
    <td>Kubernetes: Upgrading your cluster without downtime practice</td>
  </tr>
  <tr>
    <td><font color="#08c">August 24<sup>th</sup> 2019</font></td>
    <td><a href="https://2019.vietopeninfra.org">OpenInfra Days Vietnam 2019</td>
    <td>Bare metal cluster with Kubernetes, Istio & MetalLB</td>
  </tr>
</table>

</div>
